name: CI
on: [push, pull_request]

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
        go: ['1.14']
    steps:
    - uses: actions/checkout@v2

    # first download wasmtime's last static library build using python
    - uses: actions/setup-python@v1
      with:
        python-version: 3.8
    - run: python ci/download-wasmtime.py

    # then run our go tests ...
    - uses: actions/setup-go@v1
      with:
        go-version: ${{ matrix.go }}
    - run: go vet
    - run: go test
    - run: go test -tags debug
    - run: go test -tags debug
      env:
        GODEBUG: cgocheck=2
        GOGC: 1

  coverage:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    - uses: actions/setup-python@v1
      with:
        python-version: 3.8
    - run: python ci/download-wasmtime.py

    - uses: actions/setup-go@v1
      with:
        go-version: 1.14
    - run: go test -coverprofile cover.out ./...
    - run: go tool cover -html=cover.out -o coverage.html
    - uses: actions/upload-artifact@v1
      with:
        name: coverage
        path: coverage.html

  fmt:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-go@v1
      with:
        go-version: '1.14'
    # https://stackoverflow.com/questions/42510140/check-format-for-continous-integration
    - run: "diff -u <(echo -n) <(gofmt -d ./)"

  upload_docs:
    needs: [coverage]
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions/download-artifact@v1
      with:
        name: coverage
    - run: find .
    - name: Push to gh-pages
      run: curl -LsSf https://git.io/fhJ8n | rustc - && (cd coverage && ../rust_out)
      if: github.event_name == 'push' && github.ref == 'refs/heads/master'
      env:
        GITHUB_DEPLOY_KEY: ${{ secrets.DEPLOY_KEY }}
        BUILD_REPOSITORY_ID: ${{ github.repository }}
        BUILD_SOURCEVERSION: ${{ github.sha }}
